//// ----------------------------------------------------------------------
///
/// Mixins/Functions for Layouts
///
/// @group foundation
/// @module scss/modules/foundation/layouts
///
//// ----------------------------------------------------------------------


/// Mixin to create even layouts
//// ----------------------------------------------------------------------
@mixin es-layout-create-even-column-layout($layout-name, $column-class, $num-columns) {
    
    // pre-calculate column width
    $column-width: 100% / $num-columns;
     
    &.#{$layout-name} {
        .#{$column-class} {
          width: #{$column-width};
        }
    }
       
}
  
  
/// Mixin to create width modifiers
//// ----------------------------------------------------------------------
@mixin es-layout-create-width-modifiers($num, $prefix-name, $parent: "") {
    @for $idx from 1 through $num {
        #{$parent}.#{$prefix-name}#{$idx} {
            width: 100% / $num * $idx;
        }
    }
}
  
  
/// Mixin to create height modifiers
//// ----------------------------------------------------------------------
@mixin es-layout-create-height-modifiers($num, $prefix-name, $parent: "") {
    @for $idx from 1 through $num {
        #{$parent}.#{$prefix-name}#{$idx} {
            height: 100% / $num * $idx;
        }
    }
}
  
/// Predefined layout extensions
//// ----------------------------------------------------------------------
%es-layout {
    @include es-clearfix;
    // SHOULD NOT BE NECESSARY!
    box-sizing: border-box;
}

%es-layout-row {
    width: 100%;
}

%es-layout-float-column {
    float: left;
    width: 100%;
}


