<nav>
  <div class="es-toggle">
    <button (click)="toggle()">
      <span class="es-icon "></span>
    </button>
  </div>
  <div class="es-nav-items">
    <ul>


      <ng-container *ngFor="let section of (sidebarItems$ | async); let i = index">

        <li class="es-nav-item" *ngIf="section.items.length == 1">
          <a title="My Portal" href="#">
            <span class="es-icon es-icon-dashboard"></span>
            <label>{{section.text}}</label>
          </a>
        </li>

        <li class="es-nav-item -es-collapsible" *ngIf="section.items.length > 1">
            <a title="Clinical Data" href="#">
              <span class="es-icon es-icon-clinical-data"></span>
              <label>{{section.text}}</label>
            </a>
            <ul>
              <li *ngFor="let item of section.items">
                <a href="{{item.link}}">{{item.text}}</a>
              </li>
            </ul>
          </li>

      </ng-container>







      
      <li class="es-nav-item -es-active">
        <a title="Data Management" href="#">
          <span class="es-icon es-icon-data-management"></span>
          <label>Data Management (Active)</label>
        </a>
      </li>
      <li class="es-nav-item">
        <a title="Navigation Item" href="#">
          <span class="es-icon es-icon-dashboard"></span>
          <label>Navigation Item</label>
        </a>
      </li>
      <li class="es-nav-item">
        <a title="Navigation Item" href="#">
          <span class="es-icon es-icon-dashboard"></span>
          <label>Navigation Item</label>
        </a>
      </li>
      <li class="es-nav-item">
        <a title="Navigation Item" href="#">
          <span class="es-icon es-icon-dashboard"></span>
          <label>Navigation Item</label>
        </a>
      </li>
      <li class="es-nav-item">
        <a title="Navigation Item" href="#">
          <span class="es-icon es-icon-dashboard"></span>
          <label>Navigation Item</label>
        </a>
      </li>
      <li class="es-nav-item">
        <a title="Navigation Item" href="#">
          <span class="es-icon es-icon-dashboard"></span>
          <label>Navigation Item</label>
        </a>
      </li>
      <li class="es-nav-item">
        <a title="Navigation Item" href="#">
          <span class="es-icon es-icon-dashboard"></span>
          <label>Navigation Item</label>
        </a>
      </li>
      <li class="es-nav-item -es-help">
        <a title="Help" href="#">
          <div class="es-icon es-icon-help"></div>
          <label>Help</label>
        </a>
      </li>
    </ul>
  </div>
</nav>