/* ERT Icon Font */
@font-face {
  font-family: "ert-icons";
  src:url("#{$es-path-to-assets}fonts/ert-icons/ert-icons.eot");
  src:url("#{$es-path-to-assets}fonts/ert-icons/ert-icons.eot?#iefix") format("embedded-opentype"),
  url("#{$es-path-to-assets}fonts/ert-icons/ert-icons.woff") format("woff"),
  url("#{$es-path-to-assets}fonts/ert-icons/ert-icons.ttf") format("truetype"),
  url("#{$es-path-to-assets}fonts/ert-icons/ert-icons.svg#ert-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans'), local('NotoSans'),
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-italic - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Italic'), local('NotoSans-Italic'),
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-italic.woff') format('woff'), /* Modern Browsers */
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-700 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-700.woff') format('woff'), /* Modern Browsers */
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-700.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-700italic - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-700italic.woff') format('woff'), /* Modern Browsers */
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$es-path-to-assets}fonts/noto-sans-v6-latin/noto-sans-v6-latin-700italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* blender-pro-bold - latin */
@font-face {
  font-family: 'Blender Pro';
  font-style: bold;
  font-weight: 700;
  src: url('#{$es-path-to-assets}fonts/blender-pro/blender-pro-bold.eot'); /* IE9 Compat Modes */
  src: local('Blender Pro'), local('BlenderPro'),
  url('#{$es-path-to-assets}fonts/blender-pro/blender-pro-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$es-path-to-assets}fonts/blender-pro/blender-pro-bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$es-path-to-assets}fonts/blender-pro/blender-pro-bold.woff') format('woff'), /* Modern Browsers */
  url('#{$es-path-to-assets}fonts/blender-pro/blender-pro-bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$es-path-to-assets}fonts/blender-pro/blender-pro-bold.svg#BlenderPro') format('svg'); /* Legacy iOS */
}
