// Print styles for basic elements

// Color of badges
.es-badge {
  color: es-color("mono", "black") !important;
}

// Hide all unnecessary basics
.es-actionbar,
.es-button,
.es-buttons-group,
.es-dropdown,
.es-notification,
.es-product,
.es-steps {
  display: none !important;
}