// Printing styles for the body

@page {
  size: auto; /* auto is the initial value */ 
  /* this affects the margin in the printer settings */ 
  margin: 20mm 10mm 30mm 10mm; 
} 
  
html, body { 
  color: black !important;
  font-family: 'Noto Sans', sans-serif; 
  height: 90%; 
  margin: 0 0 0 0; 
  zoom: 90%; 
} 

body { 
  /* this affects the margin on the content before sending to printer */ 
  font-size: 12pt; 
  margin: 0; 

  // Colors for printing
  @extend %es-print-bw;
} 

// Hide all images
body img {
  display: none !important;
}

// Page break for headings
h1,h2,h3, h4 { 
  @extend %es-print-bw;

  page-break-after: avoid; 
}

// Colors for all links
a {
  @extend %es-print-bw;
}