// Print Styles for container

// Printing styles for cards
.es-card {
  box-shadow: none;
  border: 1px solid es-color("mono", "black");

  header {
    border-bottom: 1px solid es-color("mono", "black") !important;
  }
}

// Remove styles of panel
.es-panel {
  border: none;
  box-shadow: none;
}

// Inlay popup in normal page style, so that it can be printed
.es-popup.-es-open {
  @extend %es-print-bw;
  position: relative !important;

  .es-popup-content {
    @extend %es-print-bw;
    border: none !important;
    box-shadow: none !important;
  }

  .es-popup-header {
    padding: 0;

    .es-icon-close {
      display: none !important;
    }
  }
}

// Hide toolbar
.es-toolbar {
 .es-toolbar-item {
   width: auto !important;

  .es-input,
  .es-pagination {
    display: none !important;
  }
 }
}