// Print styles for forms

.es-date-input {
  input {
    @extend %es-print-bw;
    box-shadow: none !important;
    border: 1px solid es-color("mono", "black");
  }
  button {
    @extend %es-print-bw;
    border: 1px solid es-color("mono", "black");
  }
}

.es-file-list {
  li {
    box-shadow: none !important;
  }
}

.es-form-message {
  @extend %es-print-bw;
  box-shadow: none;
  border: 1px solid es-color("mono", "black");
}

.es-form-legend {
  display: none;
}

.es-input,
.es-select,
textarea {
  @extend %es-print-bw;
  box-shadow: none !important;
  border: 1px solid es-color("mono", "black");
}

  