  // Printing styles for the Grid

  .es-grid {
    // removes border
    border: none !important;

    .es-grid-header {
        border: none !important;
    }

    .es-grid-badges {
        display: none !important;
    }
  }