// logo should be kept! @TODO

// global header
.es-global-header {
  margin-bottom: es-to-rem($es-space-default);

  .es-fixed-global-header{
    @extend %es-print-bw;
    margin: 0 es-to-rem($es-space-default);
  }
  .es-header-logo {
    background: url('#{$es-path-to-assets}images/ERT-Logo_RGB.svg') no-repeat 0 0 / 100% auto !important;
  }
  .es-header-label {
    span {
      @extend %es-print-bw;
    }
  }
  .es-header-dropdown {
    button {
      @extend %es-print-bw;
      &:after {
        display: none;
      }
    }
    label {
      @extend %es-print-bw;
      display: inline-block !important;
    }
  }
  .es-app-launcher {
    display: none !important;
  }
}