// Printing styles for navigation elements

.es-breadcrumbs {
    margin-bottom: es-to-rem($es-space-default);

    .es-icon {
      display: none !important;
    }
    .es-more {
      display: none;
    }
}

.es-pager {
    display: none !important;
}

.es-sidebar {
    display: none !important;
}

.es-sidebar.-es-open {
    display: none !important;
}