// Printing styles for the Table
.es-table {
	@extend %es-print-bw;
	//border: 1px solid black;
	box-shadow: none !important;
	font-size: 0.8em;
	width: 100%;

	thead {
		@extend %es-print-bw;
		border: 1px solid black;
	}
	tbody {
		@extend %es-print-bw;
		border: 1px solid black;
	}
	tr {
		@extend %es-print-bw;
		border-bottom: 1px solid black;
	}
	tr.-es-selected {
		@extend %es-print-bw;
	}
}
