  // Printing styles for templates
  $es-page-header-logo-width: 30px;

  .es-app,
  .es-gateway {
    background: none;
    
    &, 
    .es-page-main .es-header h2 {
      @extend %es-print-bw;
    }
    .es-app-body {
      margin: 0 !important;
    }

    .es-page-header {
      margin: 0 es-to-rem($es-space-small);

      @extend %es-print-bw;

      .es-content-box {
        padding: 0 !important;
      }
    }
    .es-page-body {
      & > .es-content-box {
        padding: 0 !important;
      }
    }
  }

  .es-logo-header {
    .es-logo {
      background: url('#{$es-path-to-assets}images/ERT-Logo_RGB.svg') no-repeat !important;
      background-size: es-to-rem($es-page-header-logo-width);
      padding-left: es-to-rem($es-page-header-logo-width);

      img {
        display: none;
      }
    }
  }