//// ----------------------------------------------------------------------
///
/// Button Group Molecule
///
/// @group component
/// @module sass/components/basics/button-group
///
/// Button Group for joining buttons and displaying them in a row
///
//// ----------------------------------------------------------------------

.es-button-group {
  display: inline-flex;

  & > .es-button {
    display: inline-block;
    position: relative;
  }

  & .es-button + .es-button {
    margin-left: -1px;
  }
}

.es-button-group-vertical {
  display: inline-block;
  float: none;
  position: relative;
  width: auto;

  & > button {
    display: block;
    width:100%;
  }

  & > .es-button+.es-button {
    margin-top: -1px;
  }
}

