
//// ----------------------------------------------------------------------
///
/// Tag Component
///
/// @group component
/// @module sass/components/basics/tag
///
//// ----------------------------------------------------------------------

.es-tag {
  //Variables for tags
  $es-tag-background-color: es-color("mono", "alto");
  $es-tag-background-hover-color: es-color("blue", "light-blue");
  $es-tag-background-focus-color: es-color("blue", "atoll");
  $es-tag-close-color: es-color("mono", "dark-grey");
  $es-tag-close-hover-color: es-color("mono", "oslo-grey");
  $es-tag-icon-line-height: es-to-rem($es-line-height);

  color: $es-font-color;
  background-color: $es-tag-background-color;
  display: inline-block;
  padding: $es-space-inset-squish-small;
  text-align: center;

  & > span:first-child {
    color: $es-font-bright-color;
  }

  & > .es-icon {
    color: $es-tag-close-color;
    margin: es-to-rem($es-space-gutter-left-small);
    vertical-align: middle;
  }

  &.-es-close {
    &:after {
      @include es-control-icon(close);
      color: $es-tag-close-color;
      font-size: es-to-rem($es-icon-size-small);
      margin: es-to-rem($es-space-gutter-left-small);
      vertical-align: top;
    }
  }

  &:hover {
    background-color: $es-tag-background-hover-color;
    color: $es-font-bright-color;
    cursor: pointer;

    &:after {
      color: $es-font-bright-color;
    }
    & > .es-icon {
      color: $es-font-bright-color;
    }
  }
  &:active {
    background-color: $es-tag-background-focus-color;
    color: $es-font-bright-color;
    &:after {
      color: $es-font-bright-color;
    }
    & > .es-icon {
      color: $es-font-bright-color;
    }
  }
}