//// ----------------------------------------------------------------------
///
/// Card item, for informational purposes
///
/// @group containers
/// @module sass/components/containers/card
/// @mixin es-to-rem();
//// ----------------------------------------------------------------------

.es-card {
  $es-card-text-default-color: $es-font-color;

  @extend %es-container-background-with-border;

  .es-card-header {
    border-bottom: 1px solid $es-border-highlight-color;
    padding: es-to-rem($es-space-inset-squish-large);
    h4 {
      color: $es-font-important-color;
      margin: 0;
    }
  }
  .es-card-body {
    @extend %es-container-inset-squish-modifiers;
    // set default color
    color: $es-card-text-default-color;
    
    //Overflow handling
    @include es-overflow-wrap;
  }
}

// Pattern Data card
.es-card.-es-data,
.es-card.-es-data-medium {
  table {
    border-spacing: 0;
    padding: 0;
    table-layout: fixed;
    text-align: left;
    width: 100%;
  }
  td {
    padding-left: es-to-rem($es-space-default);
    vertical-align: bottom;

    //Overflow handling
    @include es-overflow-wrap;
  }
  th {
    font-weight: normal;
    vertical-align: top;
    width: 35%;
  }
}

// Medium sized Data card
.es-card.-es-data-medium {
  max-width: es-to-rem($es-width-medium);
}