//// ----------------------------------------------------------------------
///
/// Tabs item
///
/// @group containers
/// @module sass/components/containers/tabs

//// ----------------------------------------------------------------------

// Variables for tabs
$es-tabs-border-color: $es-border-light-color;

$es-tabs-background-inactive-color: es-color('mono', 'alto');
$es-tabs-text-inactive-color: es-color('blue', 'light-blue');

$es-tabs-background-active-color: es-color('mono', 'white');
$es-tabs-text-active-color: $es-font-color;

$es-tabs-background-hover-color: es-color('blue', 'picton-blue');
$es-tabs-text-hover-color: $es-font-color; //es-color('mono', 'white');

.es-tabs {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  margin-bottom: es-em-calc(-1); 
  position: relative; // IE fix: forces tab to overlap panels
  padding-left: 0;
  width: 100%;
}

.es-tab {
  background: $es-tabs-background-inactive-color;
  border: 1px solid $es-tabs-border-color;
  border-bottom: none;
  display: none;
  justify-content: stretch;

  &:not(:last-child) {
    margin: es-to-rem($es-space-gutter-right-small);
  }

  & > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:$es-tabs-text-inactive-color;

    &:hover {
      background: $es-tabs-background-hover-color;
      color: $es-tabs-text-hover-color;
    }
  }

  & > a {
    padding: es-to-rem($es-space-inset-default);
  }

  &.-es-more {
    display: flex;
    flex-direction: column;

    & > .es-dropdown {
      margin-right: 0;

      display: flex;
      flex-direction: column;
      flex-grow: 1;
      
      & > button {
        display: flex;
        color: $es-tabs-text-inactive-color;
        flex-grow: 1;
        padding: es-to-rem($es-space-inset-default);
      }
    }

    // correct color of button on hover
    &:hover {
      & > .es-dropdown {
        & > button {
          color: $es-tabs-text-hover-color;
        }
      }
    }
    
    // show active list element below more navigation in bold
    & ul li.-es-active {    
      font-weight: bold;
    }
  }

  &.-es-active {
    background: $es-tabs-background-active-color;
    display: flex;

    // deactivate links when active
    & > a {
      pointer-events: none;
    }

    & > * {
      color: $es-tabs-text-active-color;
      
      &:hover {
        background: none;
      }
    }    
  }  
}

// hide inactive tabs and more tab when tablet and above
@include es-viewport-range(mobile-large-up) {
  .es-tab {
    display: flex;

    &.-es-more {
      display: none;
    }
  }
}
