//// ----------------------------------------------------------------------
///
/// Breadcrumbs, as navigation item
///
/// @group navigation
/// @module sass/components/navigation/breadcrumbs

//// ----------------------------------------------------------------------

.es-breadcrumbs {
  display: inline-block;
  & > nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  & > nav > ul > li:not(:last-child) {
    margin: es-to-rem($es-space-gutter-right-default);
    &:after {
      @include es-control-icon(chevron-right, 10px);
      margin: es-to-rem($es-space-gutter-left-default);
      vertical-align: top;
    }
  }
  &> nav > ul > li:not(.es-more) {
    display: inline-block;
  }
  .es-icon {
    margin: es-to-rem($es-space-gutter-left-xsmall);
  }
}

@include es-viewport-range(mobile-large-up) {
  .es-more {
    display: none;
  }
}

@include es-viewport-range(mobile-only) {
  .es-more {
    display: inline-block;
  }
}
