//// ----------------------------------------------------------------------
///
/// Pagination (pager) component
///
/// @group navigation
/// @module sass/components/navigation/pagination
///
//// ----------------------------------------------------------------------

// Pager for page control

.es-pagination {
  // Variables for pagination
  $es-pagination-number-line-height: es-to-rem($es-line-height + 2px);
  $es-pagination-number-width: 35px;

  display: inline-block;

  .es-number {
    display: inline-block;
    line-height: $es-pagination-number-line-height;
    padding: es-to-rem($es-space-inset-squish-default);
    text-align: center;
    width: es-to-rem($es-pagination-number-width);
  }

}

