<div class="es-gateway">
  <header class="es-gateway-header">
    <div class="es-logo">
      <img src="./../../../assets/ert/2.0.9/images/ERT-Logo_KO.png" alt="eResearch Technology">
    </div>
  </header>
  <main class="es-gateway-body ">
    <section class="es-layout-columns -es-2-column es-gateway-column -es-flex-horizontal">
      <div class="es-column">
        <div class="es-content-box">
          <div class="es-panel">
            <div class="es-form ">
              <div class="es-content-box">
                <div class="es-text-group">
                  <h2>The ERT Global Account</h2>
                  <p>Please use your existing, verified user account and valid password to login to the ERT portals.
                  </p>
                  <p>
                    <small>
                      Note: This account is usually your individual Email address. Your email address must belong only to you. Shared email addresses
                      cannot be used for the ERT portals accounts due to regulatory requirements.
                    </small>
                  </p>
                </div>
              </div>
              <div class="es-form-field  ">
                <input id="email" type="email" class="es-input " placeholder="User Name (Your email address)">
              </div>
              <div class="es-form-field  ">
                <input id="pwd" type="password" class="es-input " placeholder="Password">
              </div>
              <div class="es-content-box">
                <div class="es-form-message  -es-error">
                  <p> Authentication error.
                  </p>
                </div>
              </div>
            </div>
            <div class="es-toolbar">
              <ul>
                <li class="es-toolbar-item">
                  <a href="#">Reset password</a>

                </li>
              </ul>
              <ul class="es-right">
                <li class="es-toolbar-item">
                  <button (click)="login()" class="es-button -es-primary ">
                    Submit
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="es-column -es-flex-vertical">
        <div class="es-content-box">
          <div class="es-panel -es-flex-vertical">
            <div class="es-content-box">
              <div class="es-text-group">
                <h2>Create an account</h2>
                <p>
                  In order to access your ERT Studies, you will need to create an ERT Global Account.
                </p>
                <p>
                  Click the "Create an Account" button to get started.
                </p>
              </div>
            </div>
            <div class="es-toolbar">
              <ul class="es-right">
                <li class="es-toolbar-item">
                  <button id="" class="es-button  -es-primary ">
                    Create an account
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="es-content-box">
          <div class="es-panel -es-flex-center">
            <div class="es-content-box">
              <a href="#">
                <div class="es-status-sign -es-information">
                  <span class="es-icon es-icon-help"></span>
                  <span>Problems logging in?</span>
                  <span>Go to Login Help</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

    </section>
    <section class="es-layout-columns es-gateway-column">
      <div class="es-column">
        <div class="es-content-box">
          <div class="es-panel">
            <div class="es-content-box">
              <div class="es-gateway-column-footer ">
                <nav>
                  <ul>
                    <li>
                      <a href="/some.url">Privacy Policy</a>
                    </li>
                    <li>
                      <a href="/some.url">Imprint</a>
                    </li>
                    <li>
                      <a href="/some.url">Customer Care
                        <span class="es-icon es-icon-help"></span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

</div>