//// ----------------------------------------------------------------------
///
/// Layout Columns
///
/// @group foundation
/// @module scss/foundation/layouts
///
//// ----------------------------------------------------------------------

.es-layout-columns {  
    @include es-clearfix;

    // layout modifiers for evenly distributed layouts:
    // small: width modifiers take effect when mobile and up (= mobile-large-up)
    @include es-viewport-range(mobile-large-up) {
      @include es-layout-create-even-column-layout('-es-small-4-column', 'es-column', 4);    
      @include es-layout-create-even-column-layout('-es-small-3-column', 'es-column', 3);
      @include es-layout-create-even-column-layout('-es-small-2-column', 'es-column', 2);
    }

    // medium: width modifiers take effect when tablet and up (= tablet-up)
    @include es-viewport-range(tablet-up) {
      @include es-layout-create-even-column-layout('-es-medium-4-column', 'es-column', 4);    
      @include es-layout-create-even-column-layout('-es-medium-3-column', 'es-column', 3);
      @include es-layout-create-even-column-layout('-es-medium-2-column', 'es-column', 2);

      // default: 2, 3, 4 columns
      @include es-layout-create-even-column-layout('-es-4-column', 'es-column', 4);    
      @include es-layout-create-even-column-layout('-es-3-column', 'es-column', 3);
      @include es-layout-create-even-column-layout('-es-2-column', 'es-column', 2);
    }
    
    // large: width modifiers take effect when notebook and above 
    @include es-viewport-range(notebook-up) {
        @include es-layout-create-even-column-layout('-es-large-4-column', 'es-column', 4);    
        @include es-layout-create-even-column-layout('-es-large-3-column', 'es-column', 3);
        @include es-layout-create-even-column-layout('-es-large-2-column', 'es-column', 2);
    }

    // xlarge: width modifiers take effect when desktop and above 
    @include es-viewport-range(desktop-up) {
      @include es-layout-create-even-column-layout('-es-xlarge-4-column', 'es-column', 4);    
      @include es-layout-create-even-column-layout('-es-xlarge-3-column', 'es-column', 3);
      @include es-layout-create-even-column-layout('-es-xlarge-2-column', 'es-column', 2);
    }

    .es-column {  
        @extend %es-layout-float-column;

        // small: width modifiers take effect when mobile and up (= mobile-large-up)
        @include es-viewport-range(mobile-large-up) {
          @include es-layout-create-width-modifiers(12, "-es-small-", "&");      
        }

        // medium: width modifiers take effect when tablet and up (= tablet-up)
        @include es-viewport-range(tablet-up) {
          @include es-layout-create-width-modifiers(12, "-es-medium-", "&");      
        }
        
        // large: width modifiers take effect when notebook and above 
        @include es-viewport-range(notebook-up) {
            @include es-layout-create-width-modifiers(12, "-es-large-", "&");      
        }

        // xlarge: width modifiers take effect when desktop and above 
        @include es-viewport-range(desktop-up) {
          @include es-layout-create-width-modifiers(12, "-es-xlarge-", "&");      
        }
        
    }
}



/*


@mixin es-columns {
  @include es-clearfix;
  box-sizing: border-box;
  margin: 0  es-em-calc($es-gutter * .5) * -1;
  overflow: hidden;
}

%-es-columns-flex{
  @extend %es-flex-wrap;
  .es-column{
    display: flex;
  }
}

@mixin es-column {
  box-sizing: border-box;
  float: left;
  padding: 0 es-em-calc($es-gutter * .5);
  width: 100%;
}

@mixin es-content {
  box-sizing: border-box;
  width: 100%;
  @extend %es-content-box;
}

@mixin es-column-content {
  @include es-content;
  @extend %es-column-vertical-gutter;
}

%es-column-vertical-gutter{
  margin: es-em-calc($es-gutter * .5) 0;
}

*/