//// ----------------------------------------------------------------------
///
/// Layout Grid
///
/// @group foundation
/// @module scss/foundation/layouts
///
//// ----------------------------------------------------------------------

/// Layout Grid
//// ----------------------------------------------------------------------
.es-layout-grid {  
  .es-row {  
    @include es-clearfix;

    // layout modifiers for evenly distributed columns:
    // small: width modifiers take effect when mobile and up (= mobile-large-up)
    @include es-viewport-range(mobile-large-up) {
      @include es-layout-create-even-column-layout('-es-small-4-column', 'es-column', 4);    
      @include es-layout-create-even-column-layout('-es-small-3-column', 'es-column', 3);
      @include es-layout-create-even-column-layout('-es-small-2-column', 'es-column', 2);
    }

    // medium: width modifiers take effect when tablet and up (= tablet-up)
    @include es-viewport-range(tablet-up) {
      @include es-layout-create-even-column-layout('-es-medium-4-column', 'es-column', 4);    
      @include es-layout-create-even-column-layout('-es-medium-3-column', 'es-column', 3);
      @include es-layout-create-even-column-layout('-es-medium-2-column', 'es-column', 2);

      // default: 2, 3, 4 columns
      @include es-layout-create-even-column-layout('-es-4-column', 'es-column', 4);    
      @include es-layout-create-even-column-layout('-es-3-column', 'es-column', 3);
      @include es-layout-create-even-column-layout('-es-2-column', 'es-column', 2);
    }
    
    // large: width modifiers take effect when notebook and above 
    @include es-viewport-range(notebook-up) {
      @include es-layout-create-even-column-layout('-es-large-4-column', 'es-column', 4);    
      @include es-layout-create-even-column-layout('-es-large-3-column', 'es-column', 3);
      @include es-layout-create-even-column-layout('-es-large-2-column', 'es-column', 2);
    }

    // xlarge: width modifiers take effect when desktop and above 
    @include es-viewport-range(desktop-up) {
      @include es-layout-create-even-column-layout('-es-xlarge-4-column', 'es-column', 4);    
      @include es-layout-create-even-column-layout('-es-xlarge-3-column', 'es-column', 3);
      @include es-layout-create-even-column-layout('-es-xlarge-2-column', 'es-column', 2);
    }      
  }
    
  .es-column {  
    @extend %es-layout-float-column;
    
    // small: width modifiers take effect when mobile and up (= mobile-large-up)
    @include es-viewport-range(mobile-large-up) {
      @include es-layout-create-width-modifiers(12, "-es-small-", "&");      
    }

    // medium: width modifiers take effect when tablet and up (= tablet-up)
    @include es-viewport-range(tablet-up) {
      @include es-layout-create-width-modifiers(12, "-es-medium-", "&");      
    }
    
    // large: width modifiers take effect when notebook and above 
    @include es-viewport-range(notebook-up) {
      @include es-layout-create-width-modifiers(12, "-es-large-", "&");      
    }

    // xlarge: width modifiers take effect when desktop and above 
    @include es-viewport-range(desktop-up) {
      @include es-layout-create-width-modifiers(12, "-es-xlarge-", "&");      
    }
  }  
}
