//// ----------------------------------------------------------------------
///
/// Form message component
///
/// @group forms
/// @module sass/components/forms/forms
/// @require mixin es-to-rem
///
//// ----------------------------------------------------------------------

/*
 form messages for field validation messages and form messages etc.
*/

.es-form-message {
  // variant: default 
  $es-form-message-background-color: es-color('blue', 'polar');
  $es-form-message-text-color: es-color('blue', 'light-blue');

  // variant: invalid
  $es-form-message-background-color-invalid: es-color('red', 'tuft-bush');
  $es-form-message-text-color-invalid: es-color('red', 'punch');

  // variant: error
  $es-form-message-background-color-error: es-color('red', 'tuft-bush');
  $es-form-message-text-color-error: es-color('red', 'punch');

  background: $es-form-message-background-color;
  border: 1px solid;
  color: $es-form-message-text-color;
  margin: 0;
  padding: es-to-rem($es-space-inset-squish-default);

  @extend %es-word-wrap-break-word;

  // stack spacing for paragraphs within message
  p {
    margin: es-to-rem($es-space-stack-default);

    &:last-child {
      margin: 0;
    }
  }

  &.-es-invalid {
    background: $es-form-message-background-color-invalid;
    color: $es-form-message-text-color-invalid;
  }

  &.-es-error {
    background: $es-form-message-background-color-error;
    color: $es-form-message-text-color-error;
  }
}

