//// ----------------------------------------------------------------------
///
/// Global header organism (ERT Global Header)
///
/// @group pattern
/// @module sass/organisms/global-header
///
/// @require mixin es-base-page-header
/// @require mixin es-dropdown-content
/// @require mixin es-dropdown-overlay
/// @require mixin es-header-dropdown-button
//// ----------------------------------------------------------------------

// default global header base configuration
$global-header-height: $es-page-header-height;
$global-header-z-index: $es-global-header-z-index;
$global-header-background-color: $es-background-color;
$global-header-border: 1px solid $es-border-light-color;

// app launcher without any spacings (just icon)
$global-header-app-launcher-button-width: $global-header-height - 2*$es-space-default;

// logo on left side should have the same dimensions as the app launcher
$global-header-company-logo-width-small: $global-header-app-launcher-button-width;
$global-header-company-logo-width-default: 90px;

$global-header-company-logo-image-small: '#{$es-path-to-assets}images/ERT-Logo_RGB_small.svg';
$global-header-company-logo-image-default: '#{$es-path-to-assets}images/ERT-Logo_RGB.svg';

// loading indicator width
$global-header-app-launcher-loading-indicator-width: $global-header-app-launcher-button-width;

// height of content
$global-header-content-height: $global-header-height - 2*$es-space-default;

// padding is inset squish, but has to be calculated manually
// because of the caret at the right
$global-header-inset-right: $global-header-app-launcher-button-width + 2*$es-space-default;

$global-header-inset-default-left: $global-header-company-logo-width-default + $es-space-default;
$global-header-inset-default: $es-space-default $global-header-inset-right $es-space-default $global-header-inset-default-left;

$global-header-inset-small-left: $global-header-company-logo-width-small + 2*$es-space-default;
$global-header-inset-small: $es-space-default $global-header-inset-right $es-space-default $global-header-inset-small-left;

$global-header-app-launcher-default-color: $es-anchor-color;
$global-header-app-launcher-hover-color: $es-anchor-hover-color;

$global-header-icon-default-color: $es-anchor-color;
$global-header-icon-hover-color: $es-anchor-hover-color;

$global-header-text-default-color: $es-font-color;
  
.es-global-header {
  &:before {
    content: '';
    display: block;
    height: es-to-rem($global-header-height);
  }

  .es-fixed-global-header {
    @include es-clearfix;
    background-color: $global-header-background-color;
    border-bottom: $global-header-border;
    color: $global-header-text-default-color;
    height: es-to-rem($global-header-height);
    left: 0;
    padding: es-to-rem($global-header-inset-small);
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: $global-header-z-index;
  }
  
  .es-global-header-content {
    @include es-clearfix;
    white-space: nowrap;
    display: block;
    width: 100%;
    text-align: right;

    .es-dropdown {
      margin-left: es-to-rem($es-space-xsmall);
      margin-right: es-to-rem($es-space-xsmall);
    }

    & > .es-label-stack {
      margin-left: es-to-rem($es-space-small);
      margin-right: es-to-rem($es-space-small);
//      width: 100%;
      max-width: calc(50% - #{es-to-rem(2*$es-space-small)});
    }
  }

  .es-loading-indicator {
    bottom: 0;
    padding: es-to-rem($es-space-inset-default);
    min-height: 0px;
    min-width: 0px;
    position: absolute;
    right: 0;
    top: 0;
    // loading indicator to be square
    width: es-to-rem($global-header-height);
    
    .es-loading-icon {
      height: es-to-rem($global-header-app-launcher-loading-indicator-width);
      width: es-to-rem($global-header-app-launcher-loading-indicator-width);
    }    
  }

  //position app launcher
  .es-dropdown.-es-app-launcher {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: initial;
    min-width: auto;
    max-width: auto;
  }

  // styles for app launcher button
  .es-app-launcher-button {
    @extend %es-default-button-reset;
    color: $global-header-app-launcher-default-color;
    padding: es-to-rem($es-space-inset-default);

    &:hover,
    &:focus {
      color: $global-header-app-launcher-hover-color;
    }

    .es-icon {
      font-size: es-to-rem($global-header-app-launcher-button-width);
      text-rendering: geometricPrecision;
    }
  }

  // company logo
  .es-company-logo {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: es-to-rem($global-header-company-logo-width-small + 2*$es-space-default);
    &:before {
      background: url(#{$global-header-company-logo-image-small}) no-repeat; //IE10 supports SVG only as background-image
      content: '';
      text-rendering: geometricPrecision;
      position: absolute;
      left: es-to-rem($es-space-default);
      top: es-to-rem($es-space-default);
      bottom: es-to-rem($es-space-default);
      right: es-to-rem($es-space-default);
    }
  }

  // adjust line height for title label
  .es-label-title {
    display: none; // by default not visible
    float: left;
    text-align: left;
    width: 25%;

    h1, h2, h3, h4 {
      line-height: es-to-rem($global-header-content-height);
      margin: 0;
    }
  }


  // adjust line height for title label
  .es-label-stack {
    span {
      line-height: es-to-rem($global-header-content-height * .5);
    }
  }

  // adjust line height for labels in drop downs
  .es-dropdown-icon {
    vertical-align: top;

    .es-label-stack {
      // label stack not displayed on small devices
      display: none;
      min-height: es-to-rem($global-header-content-height);
    }
    .es-icon {
      color: $global-header-icon-default-color;
      min-height: es-to-rem($global-header-content-height); // + $es-space-small);
    }

    &:focus,
    &:hover {
      .es-icon {
        color: $global-header-icon-hover-color;
      }        
    }
  }

  // responsiveness
  @include es-viewport-range(mobile-large-up) {
    .es-company-logo {
      display: inline-block;
    }

    .es-dropdown .es-dropdown-content {
      top: calc(100%);
    }
  }
  
  @include es-viewport-range(mobile-large-up) {

    .es-dropdown-icon {
      vertical-align: middle;
      max-width: 100%;

      //display label on tablet
      .es-label-stack {
        display: block;
        width: initial;
      } 
    }
  
    .es-global-header-content {
      .es-dropdown {
        margin-left: es-to-rem($es-space-small);
        margin-right: es-to-rem($es-space-small);
        max-width: calc(25% - #{es-to-rem(2*$es-space-small)});
    //    width: 100%;
      }
  
      & > .es-label-stack {
        margin-left: es-to-rem($es-space-small);
        margin-right: es-to-rem($es-space-small);
        max-width: calc(25% - #{es-to-rem(2*$es-space-small)});
  //      width: 100%;
      }
    }
  }
  
  
  @include es-viewport-range(tablet-up) {
      // new inset for bigger logo
      .es-fixed-global-header {
        padding: es-to-rem($global-header-inset-default);
      }

      .es-company-logo {
        width: es-to-rem($global-header-company-logo-width-default + $es-space-default);
        &:before {
            background: url($global-header-company-logo-image-default) no-repeat; //IE10 supports SVG only as background-image
          }
      }

      .es-label-title {
        display: block;
      }
      .es-global-header-content {
        width: 75%;
        float: right;
      }
  }
  
  
  @include es-viewport-range(desktop-up) {
      .es-label-title {
        width: 20%;
      }
        
  
      .es-global-header-content {
        width: 80%;
  
        .es-dropdown {
          margin-left: es-to-rem($es-space-default);
          margin-right: es-to-rem($es-space-default);
          max-width: calc(25% - #{es-to-rem(2*$es-space-default)});
      //    width: 100%;
        }
    
        & > .es-label-stack {
          margin-left: es-to-rem($es-space-default);
          margin-right: es-to-rem($es-space-default);
          max-width: calc(25% - #{es-to-rem(2*$es-space-default)});
    //      width: 100%;
        }
      }
        
  }
}

// App Launcher (Drop Down Content)
//// ----------------------------------------------------------------------
.es-app-launcher {  
  $app-launcher-width-small: 500px;
  $app-launcher-width-large: 600px;
  $app-launcher-default-background-color: es-color('mono', 'white');
  $app-launcher-service-icon-size: $es-icon-size-xlarge;
  $app-launcher-main-content-min-height: 300px;
  $app-launcher-side-background-image: '#{$es-path-to-assets}images/backgroundimage-applauncher.jpg';
  $app-launcher-side-background-overlay-color: rgba(0,146,188,.3);
  $app-launcher-side-footer-background-color: es-color('blue', 'dark-blue');
  
  @include es-clearfix; 
  background-color: $app-launcher-default-background-color; // needed for IE
  display: block;
  margin: es-to-rem($es-space-small * -1);
  min-height: es-to-rem($app-launcher-main-content-min-height);
  position: relative;

  .es-column-main,
  .es-column-side {  
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: es-to-rem($es-space-inset-small);
  }  

  .es-column-main {  
    a,
    button {
        background: none;
        border: 0;
        color: $es-font-color;
        display: block;
        font-size: es-to-rem($es-global-header-logo-font-size);
        font-weight: 500;
        min-height: es-to-rem($es-control-height);
        padding: es-to-rem($es-space-inset-squish-default);
        text-align: left;
        width: 100%;
        .es-icon {
            font-size: es-to-rem($app-launcher-service-icon-size);
            margin: es-to-rem($es-space-gutter-right-small);
            //harmonize icons and text vertically
            position: relative;
            top: -(es-to-em(1));
        }
    }
    a:hover,
    button:focus,
    button:hover {
        background: $es-control-hover-color;
        color: $es-control-text-hover-color;
    }
  }

  .es-column-side {  
    color: white;
    position: relative;
    background: linear-gradient(#{$app-launcher-side-background-overlay-color}, #{$app-launcher-side-background-overlay-color}), 
                url(#{$app-launcher-side-background-image}) no-repeat;
    background-position: 50% 50%;
    background-size: cover;    
  }  

  .es-column-side-footer {
    text-align: center;
    width: 100%;
    display: block;
    background: $app-launcher-side-footer-background-color;
    padding: es-to-rem($es-space-inset-large);
    
    button {
      width: 100%;
      &:not(:last-child) {
        margin: es-to-rem($es-space-stack-default);
      }
    }

    .sg-button-contrast {
      color: white;
      border-color: white;
    }
  }  
  
  @include es-viewport-range('mobile-large-up') {
    width: es-to-rem($app-launcher-width-small);
  }

  @include es-viewport-range('mobile-large-up') {
    max-width: 90vw;
    
    .es-column-main {
      width: 60%;
      margin-left: 40%;
    }
    .es-column-side {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 40%;
    }
      
    .es-column-side-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40%;
    }
  }

  @include es-viewport-range('mobile-large-up') {
    width: es-to-rem($app-launcher-width-large);
  }

}




