//// ----------------------------------------------------------------------
///
/// general variables
///
/// @group configuration
/// @module sass/configuration/general
///
//// ----------------------------------------------------------------------

/// basepath
$es-path-to-assets: '../' !default;

/// spacings and measurement
/// Al spacings should (ideally) be based on these values
//// ----------------------------------------------------------------------
$es-pixel-unit: 10px;

// Z-indices
$es-z-index-topmost: 1000;
$es-z-index-overlay: $es-z-index-topmost - 1;

/// Visual styles
//------------------------------------------------------------------------------

// Box shadows
$es-shadow: 0px 2px 5px 0px $es-shadow-color;

//separator -> only used in grid, move it there?
$es-separator-border: 1px solid $es-border-light-color;