//// ----------------------------------------------------------------------
///
/// General page variables
///
/// @group configuration
/// @module sass/configuration/page
///


//main
$es-page-main-min-height: 400px;
$es-page-main-medium-max-width: $es-notebook-min;
$es-page-main-small-max-width: $es-breakpoint-tablet;

// header
$es-page-header-height: $es-pixel-unit * 5; // => 50px height for global header

$es-page-header-logo-height: $es-pixel-unit * 3; //should actually be: $es-page-header-height - 2 * $es-space-default;
$es-page-header-logo-width: $es-page-header-logo-height * 2.68 ;
$es-page-header-logo-width-small: $es-page-header-logo-height;

$es-page-header-z-index: $es-z-index-topmost - 100 !default; //to allow 100 layers above
/// spacing between logo and text
$es-page-header-logo-text-spacing: 10 !default;

// Modal popup
$es-popup-offset-top: $es-page-header-height + $es-space-large;