<div class="es-content-box">
  <div class="es-breadcrumbs">
    <nav>
      <ul>
        <li class="es-more">
          <div class="es-dropdown" data-es-dropdown="">
            <a href="javascript:void(0)">
              <span class="es-icon es-icon-ellipsis"></span>
            </a>
            <nav>
              <ul>
              </ul>
            </nav>
          </div>
        </li>
        <li>
          <a href="javascript:void(0)">Main</a>
        </li>
        <li>
          <a href="javascript:void(0)">Second Level</a>
        </li>
        <li>Third level</li>
      </ul>
    </nav>
  </div>
</div>