<div>
  <header class="es-fixed-global-header">
    <a href="#" class="es-company-logo"></a>
    <label class="es-label-title">
      <h3>{{appName}}</h3>
    </label>
    <div class="es-global-header-content">
      <label class="es-label-stack">
        <span>Header Label - </span>
        <span>With Two Lines</span>
      </label>
      <div class="es-dropdown" data-es-dropdown="">
        <button type="button" class="es-dropdown-icon">
          <span class="es-icon es-icon-application-mode"></span>
          <label class="es-label-stack">
            <span>A Dropdown</span>
          </label>
        </button>
        <nav>
          <ul>
            <li>
              <a href="#">Action</a>
            </li>
            <li>
              <button type="button">Another action (button)</button>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li class="es-divider"></li>
            <li>
              <a href="#">Separated link</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="es-dropdown" data-es-dropdown="">
        <button type="button" class="es-dropdown-icon">
          <span class="es-icon es-icon-application-mode"></span>
          <label class="es-label-stack">
            <span>Select Study</span>
          </label>
        </button>
        <nav>
          <ul>
            <li>
              <a href="#">Action</a>
            </li>
            <li>
              <button type="button">Another action (button)</button>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li class="es-divider"></li>
            <li>
              <a href="#">Separated link</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="es-dropdown" data-es-dropdown="">
        <button type="button" (click)="navToGateway()" class="es-dropdown-icon">
          <span class="es-icon es-icon-user-name"></span>
          <label class="es-label-stack">
            <span>{{ userName$ | async }}</span>
            <span>{{ userEmail$ | async }}</span>
          </label>
        </button>
        <nav>
          <ul>
            <li>
              <a href="#">Action</a>
            </li>
            <li>
              <button type="button">Another action (button)</button>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li class="es-divider"></li>
            <li>
              <a href="#">Separated link</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="es-dropdown -es-left -es-app-launcher" data-es-dropdown="">
      <button type="button" class="es-app-launcher-button">
        <span class="es-icon es-icon-tile-view"></span>
      </button>
      <div class="es-dropdown-overlay">
        <div class="es-dropdown-content">
          <div class="es-app-launcher">
            <div class="es-column-main">
              <div class="es-content-box">
                <h1>Services</h1>
                <button type="button" class="es-action -es-error">
                  <span class="es-icon es-icon-admin"></span>
                  <span>Administration Tool</span>
                </button>
                <div class="es-horizontal-divider"></div>
                <button type="button" class="es-action">
                  <span class="es-icon es-icon-data-cleaning"></span>
                  <span>Data cleaning</span>
                </button>
                <button type="button" class="es-action">
                  <span class="es-icon es-icon-expert"></span>
                  <span>Expert</span>
                </button>
                <button type="button" class="es-action">
                  <span class="es-icon es-icon-ert-learn"></span>
                  <span>ERT Learn</span>
                </button>
                <a href="#" class="es-action">
                  <span class="es-icon es-icon-ert-learn"></span>
                  <span>ERT Learn (Link)</span>
                </a>
              </div>
            </div>
            <div class="es-column-side">
              <div class="es-content-box">
                <h1>
                  Register a Site / Join a Study
                </h1>
                <p>
                  To register your site for a new study, or join an existing study, click "Register / Join" below.
                </p>
              </div>
            </div>
            <div class="es-column-side-footer">
              <button type="button" class="es-button -es-contrast">
                Register / Join
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>