//// ----------------------------------------------------------------------
///
/// Inline message
///
/// @group components
/// @module sass/partials/components/alerts/inline-message
///
//// ----------------------------------------------------------------------

// Variables for inline-message

.es-inline-message {
  @extend .es-form-message;

  & > span.es-icon {
    font-size: es-to-rem($es-icon-size-xlarge);
    margin: es-to-rem($es-space-gutter-right-small);
    vertical-align: top;
  }

  p {
    display: inline-block;
    //Overflow handling
    @include es-overflow-wrap;
    word-break: break-all;
  }
}

@include es-viewport-range(mobile-large-up){
  .es-inline-message {
    width: fit-content;
  }
}
