//// ----------------------------------------------------------------------
///
/// conversion mixins/functions
///
/// @group modules
/// @module sass/modules/core/conversion
///
//// ----------------------------------------------------------------------

//// ----------------------------------------------------------------------
///
/// Converts a given pixel value based on a context to a specified baseunit.
///
/// @access public
/// @param px | number or list $pixels A pixel value or list of pixel values to calculate
/// @param px | number [$context] A pixel value to equal 1 baseunit
/// @param unit [$baseUnit] A base unit: 1em or 1rem
/// @outputs The calculated baseunit value.

@function es-to-unit($pixels, $context, $baseUnit) {
  
    // context with no unit?
    @if (unitless($context)) {
      // convert to pixels
      $context: $context * 1px;
    }
    
    // Is there only one (numeric) value?
    @if type-of($pixels) == 'number' {
   
      $convertedValue: 0;
  
      // Perform conversion if value not zero
      @if ($pixels != 0) { 
  
        // no units for pixel value specified?
        @if (unitless($pixels)) {
          // convert to pixel
          $pixels: $pixels * 1px;
        }
  
        $convertedValue: decimal-round($pixels / $context, 4) * $baseUnit;
      }
  //    @debug "Converted Value = #{$convertedValue}";
      @return $convertedValue;
    }
    @else {
      // empty result list which we use to add all (converted) values
      $result: ();

      // If more than one value, perform conversion on each value
      @each $pixelValue in $pixels {
  
        $convertedValue: 0;
  
        // Perform conversion if value not zero
        @if ($pixelValue != 0) { 
          // no units for pixel value specified?
          @if (unitless($pixelValue)) {
            // convert to pixel
            $pixelValue: $pixelValue * 1px;
          }
  
          $convertedValue: decimal-round($pixelValue / $context, 4) * $baseUnit;
        }
  //    @debug "Converted Value = #{$convertedValue}";
        
        $result: append($result, ($convertedValue) );
      }
//      @debug "Input = #{$pixels}, BaseUnit = #{$baseUnit}, Context = #{$context}, Result = #{$result}";
      @return $result;
    }
 
  }

  
//// ----------------------------------------------------------------------
///
/// Calculates em value for a given pixel value based on a context that equals 1em.
///
/// @access public
/// @param px | number $pixels The pixel value to calculate
/// @param px | number [$context] A pixel value to equal 1em
/// @require variable $es-font-size-default
/// @outputs The calculated em value.
@function es-to-em($pixels, $context: $es-pixel-unit) {
  @return es-to-unit($pixels, $context, 1em);
}

@function es-em-calc($pixels, $context: $es-pixel-unit) {
  @return es-to-unit($pixels, $context, 1em);
}

@function es-to-rem($pixels, $context: $es-pixel-unit) {
  @return es-to-unit($pixels, $context, 1rem);
}


