//// ----------------------------------------------------------------------
///
/// controls configuration file
///
/// @group configuration
/// @module sass/configuration/atoms/controls
///
//// ----------------------------------------------------------------------

// Colors
$es-control-border-color: es-color('mono', 'dark-grey');
$es-control-border-color-focus: es-color("blue", "atoll");
$es-control-border-color-disabled: $es-disabled-color;
$es-control-border-color-hover: es-color("blue", "seagull");
$es-control-border-color-invalid: es-color('red', 'dark-red');
$es-control-color: es-color('mono', 'abbey');
$es-control-icon-color: $es-anchor-color;

// State colors
$es-control-disabled-color: $es-background-disabled-color;
$es-control-hover-color: es-color("blue", "picton-blue");
$es-control-text-hover-color: es-color("mono", "white");
$es-control-required-color: es-color('red', 'punch');
$es-control-separator-color: es-color('mono', 'black', .2);

// Shadow
$es-control-shadow-color-hover: es-color('blue', 'atoll');

// Opacity
$es-control-disabled-opacity: 0.6;

// Font
$es-control-font-family: $es-font-primary;

/// Variables for controls
////////////////////////////////////////////////////////
$es-control-height: $es-pixel-unit * 3.2;
$es-control-border-width: 1px;
$es-control-line-height: $es-control-height - $es-space-default - 2*$es-control-border-width;
$es-control-borderless-line-height: $es-control-height - $es-space-default;

// Border
$es-control-separator-border: 1px solid $es-control-separator-color;

// Box shadow
$es-control-shadow-focus: 0 0 4px #{$es-control-shadow-color-hover};

// Variables for checkbox and radio button
$es-checkbox-size: $es-font-size-default + 7px;
$es-checkbox-icon-size: $es-font-size-default;

$es-checkbox-vertical-padding: ($es-control-height - $es-checkbox-size) * .5; // subtract border

// Radio Button
$es-radio-bullet-color: $es-control-color;
