//// ----------------------------------------------------------------------
///
/// variables for global header
///
/// @group configuration
/// @module sass/configuration/organisms/global-header
///
//// ----------------------------------------------------------------------

// @TODO Variables should be refactored!

$es-global-header-z-index: $es-page-header-z-index;

// currently used in app launcher
$es-global-header-logo-font-size: 16px !default;

// currently
$es-global-header-height: $es-page-header-height;

