//// ----------------------------------------------------------------------
///
/// loading indicators configuration file
///
/// @group configuration
/// @module sass/configuration/atoms/loading
///
//// ----------------------------------------------------------------------

$es-loading-icon-border-width-small: 2px;
$es-loading-icon-size-small:  $es-icon-size !default;

$es-loading-icon-border-width-medium: 6px;
$es-loading-icon-size-medium: 50px;

$es-loading-icon-border-width-large: 11px;
$es-loading-icon-size-large: 90px;

$es-loading-icon-animation-duration: .8s !default;


// loading indicator wrapper/container configuration

$es-loading-indicator-backdrop-color: es-color('mono', 'dark-grey', .5) !default;
$es-loading-indicator-backdrop-contrast-color: es-color('mono', 'white', .5) !default;

