//// ----------------------------------------------------------------------
///
/// variables for nav item (Component of sidebar)
///
/// @group configuration
/// @module sass/configuration/organisms/sidebar
///
//// -----------------------------------------------------------------------

$es-nav-item-transition-duration: .33s;

// Colors
$es-nav-item-color: es-color('mono', 'white');
$es-nav-item-background-color: es-color("blue", "atoll");
$es-nav-item-background-color-hover: es-color("blue", "seagull");
$es-nav-item-background-color-active: es-color('blue', 'atoll');
$es-nav-item-border-color: es-color("blue", "dark-blue");
$es-nav-item-icon-color-hover: es-color("green", "wild-rice");

$es-sidebar-subnav-border-color: $es-nav-item-border-color;
$es-sidebar-subnav-hover-background-color: $es-nav-item-background-color-hover;

$es-nav-item-icon-size: 15px;
$es-nav-item-icon-size-help: 2.5 * $es-pixel-unit;
$es-nav-item-chevron-size: 10px;
$es-nav-item-chevron-size-small: 8px;
$es-nav-item-chevron-right: $es-space-large;
$es-nav-item-height: $es-pixel-unit * 5;
