//// ----------------------------------------------------------------------
///
/// color palette configuration file
///
/// @group configuration
/// @module sass/configuration/foundation/color-palette
///
//// ----------------------------------------------------------------------

/// used color palette
$es-color-palette: (
        'blue': (
                'dark-blue': #003865, // ERT Logo Color: Dark-Blue
                'atoll': #0d668f,
                'light-blue': #0092bc, // ERT Logo Color: Light-Blue
                'seagull': #31aacc,
                'picton-blue': #4ec3e0,
                'blizzard-blue': #a9e1ef,
                'polar': #d4f0f6
        ),
        'turquoise': (
                'eden': #006d68,
                'blue-chill': #148f80,
                'mint': #00b398,
                'puerto-rico': #3fc2af,
                'downy': #6cd3c7,
                'powder-mint': #b8e9e3,
                'iceberg': #dbf4f1
        ),
        'green': (
                'dark-green': #007a33,
                'eukalyptus': #469b26,
                'pistachio' : #84BD00,
                'atlantis': #a5c727,
                'lime': #c4d600, // ERT Logo Color: Lime
                'wild-rice': #e2ea86,
                'tusk': #f0f4c1
        ),
        'red': (
                'dark-red': #be3a34,
                'punch': #dd4c3d,
                'orange' : #ff5c39,
                'burning': #fd7344,
                'carrot': #ff8a3d,
                'pastell': #fec5a1,
                'tuft-bush': #fee2cf
        ),
        'violet': (
                'dark-violet':#653165,
                'wine-berry': #7b3579,
                'plum': #93328e,
                'tapestry': #a850a6,
                'amethyst': #c069c2,
                'prelude': #dfb5e0,
                'prim': #efdaef
        ),
        'mono': (
                'black': #1e1e1e,
                'abbey': #494a4b,
                'dark-grey': #747678,
                'oslo-grey': #98999a,
                'light-grey': #bcbdbc,
                'alto': #dedede,
                'gallery': #eeeeee,
                'alabaster': #f9f9f9,
                'white': #ffffff
        )
) !default;

/// Acceptable/allowed opacities.
$es-color-opacities: (0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1) !default;

//// ----------------------------------------------------------------------
///
/// function for unified color ussage
///
/// @access public
/// @param {String} $name    Name of color, see "@$es-color-palette"
/// @param {String} $variant Name of color variant, see "@$es-color-palette", if not specified, name is used as a variant name.
/// @param {Number} $opacity Opacity, for allowed opacities see "@$es-color-opacities"
///
/// @example
///   es-color('dark', 'base', 1.0);
///
@function es-color(
  $name,
  $variant: null,
  $opacity: null
) {
  $color: null;

  // Get the color spectrum
  $color-spectrum: map-get($es-color-palette, $name);

  // Get the color variant
  @if $color-spectrum {

    // no variant specified? use name as variant
    @if ($variant == null) {
      $variant: $name;
    }

    $color: map-get($color-spectrum, $variant);
  }

  // check alpha/opacity if parameter exists
  @if $opacity {

    // check if specified opacity is allowed
    @if index($es-color-opacities, $opacity) == null {
      // parameter is not allowed, so dump the possible/allowed values
      @error "Not allowed opacity value: #{$opacity}. Only following opacity values are allowed: #{$es-color-opacities}";
    }

    // opacitiy allowed, use it
    $color: rgba($color, $opacity);
  }

  @return $color;
}

