//// ----------------------------------------------------------------------
///
/// icons configuration file
///
/// @group configuration
/// @module sass/configuration/foundation/icons
///
//// ----------------------------------------------------------------------

/// icon sizes
//// ----------------------------------------------------------------------
$es-icon-size-default: 13px !default;

$es-icon-size-small: 10px;
$es-icon-size-medium: 13px;
$es-icon-size-large: 17px;
$es-icon-size-xlarge: 20px;
$es-icon-size-xxlarge: 32px;

// deprecated for compatibility reasons
$es-icon-size: 13px;

// Icon global variables

$es-icons-font-size-base:   $es-icon-size-default;
$es-icons-line-height-base: 1 !default;

