//// ----------------------------------------------------------------------
///
/// Widths configuration file
///
/// @group configuration
/// @module sass/configuration/foundation/widths
///
//// ----------------------------------------------------------------------

// Widths

$es-width-xxsmall:    10*$es-pixel-unit;
$es-width-xsmall:     15*$es-pixel-unit;
$es-width-small:      20*$es-pixel-unit;
$es-width-medium:     40*$es-pixel-unit;
$es-width-large:      60*$es-pixel-unit;
$es-width-xlarge:     80*$es-pixel-unit;
$es-width-xxlarge:    100*$es-pixel-unit;