/*!
 * Styles for StyleGuide Sample Project
 */
 $ert-ui-toolkit-version: "2.0.7";
/*!
 * ert-webstyle CSS UI Toolkit V#{$ert-ui-toolkit-version}
 */

// Path to assets for depending variables
$es-path-to-assets: "../src/assets/ert/2.0.9/";
$global-header-company-logo-image-small: "~assets/ert/2.0.9/images/ERT-Logo_RGB.png";

// configuration
//-------------------------------
@import "~assets/ert/2.0.9/scss/configuration";


// mixins and functions
//-------------------------------
@import "~assets/ert/2.0.9/scss/modules";

//Webfonts
//-------------------------------
@import "~assets/ert/2.0.9/scss/foundation/webfonts";

// Import styles for used elements
//-------------------------------
//-------------------------------
// normalize.css v4 reset styles
//-------------------------------
// We have this file to assure compatibility with bootstrap.
// you can remove it if you use bootstrap 3 or 4 along with ert-webstyles
@import "~assets/ert/2.0.9/scss/vendor/normalize";
@import "~assets/ert/2.0.9/scss/foundation/general";

@import "~assets/ert/2.0.9/scss/foundation/typography";
@import "~assets/ert/2.0.9/scss/foundation/content-box";
@import "~assets/ert/2.0.9/scss/foundation/icon";
@import "~assets/ert/2.0.9/scss/foundation/layouts/layouts";
@import "~assets/ert/2.0.9/scss/foundation/layouts/layout-base";
@import "~assets/ert/2.0.9/scss/foundation/layouts/layout-columns";

@import "~assets/ert/2.0.9/scss/components/basics/button";
@import "~assets/ert/2.0.9/scss/components/basics/dropdown";
@import "~assets/ert/2.0.9/scss/components/containers/panel";
@import "~assets/ert/2.0.9/scss/components/containers/toolbar";
@import "~assets/ert/2.0.9/scss/components/form-controls/form-controls";
@import "~assets/ert/2.0.9/scss/components/forms/form";
@import "~assets/ert/2.0.9/scss/components/forms/form-field";
@import "~assets/ert/2.0.9/scss/components/forms/form-message";
@import "~assets/ert/2.0.9/scss/components/navigation/breadcrumbs";
@import "~assets/ert/2.0.9/scss/components/navigation/sidebar";
@import "~assets/ert/2.0.9/scss/components/indicators/wizard-steps";
@import "~assets/ert/2.0.9/scss/components/global-header";

@import "~assets/ert/2.0.9/scss/templates/app/app";
@import "~assets/ert/2.0.9/scss/templates/app/page-header";


//Custom Styles
//----------------------------------

/* Page Layout */
html {
  min-height: 100%;
  // By default all browsers use a 16px font size, so
  // we re-calculate the default pixel size to a percentage for loss-less
  // caluclation of later rem values 
  font-size: es-percentage($es-pixel-unit, 16px); // => font size: 10 * 100 / 16 => 62.5%
  box-sizing: border-box;
}

body {
  background-color: $es-background-contrast-color;
  color: $es-font-color;
  font-size: es-to-rem($es-font-size-default);
  font-family: $es-font-primary;
  min-height: 100%;
  line-height: es-to-rem($es-line-height);
}
