<ert-gateway *ngIf="!(authenticated$ | async)"></ert-gateway>


<div *ngIf="(authenticated$ | async)" class="es-app">
    <ert-header class="es-global-header"></ert-header>
    <ert-sidebar class="es-sidebar" [ngClass]="(sidebarOpen$ | async) ? '-es-open' : '-es-closed'"></ert-sidebar>
    <main class="es-app-body">
      <header class="es-page-header">
        <ert-breadcrumbs></ert-breadcrumbs>
        <div class="es-content-box">
          <div class="es-page-header-title">
            <div class="es-text-group">
              <h2 class="es-page-title">App with Sidebar&nbsp;
                <a href="#" class="es-page-title-icon">
                  <span class="es-icon es-icon-help"></span>
                </a>
              </h2>
            </div>
            <div class="es-dropdown " data-es-dropdown="">
              <button type="button">
                <span class="es-icon es-icon-more"></span>
              </button>
              <nav>
                <ul>
                  <li>
                    <button type="button">Button Label</button>
                  </li>
                  <li>
                    <button type="button">Button 2</button>
                  </li>
                  <li>
                    <button type="button">Button 3</button>
                  </li>
                </ul>
              </nav>
            </div>
            <button id="" class="es-button  -es-primary">Button Label</button>
          </div>
        </div>
      </header>
      <div class="es-page-body">
        <div class="es-content-box">
          <div class="es-panel">
            <div class="es-content-box">
                <!-- <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet> -->
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="es-app-footer">
      <div class="es-page-footer-layout">
        <nav>
          <ul>
            <li>
              <a href="/some.url">Privacy Policy</a>
            </li>
            <li>
              <a href="/some.url">Imprint</a>
            </li>
            <li>
              <a href="/some.url">Customer Care</a>
            </li>
          </ul>
        </nav>
        <p class="es-page-copyright">
          © 2017 ERT (3.0.7.1 [121, 11-Jul-2016 14:28:12] Int, Chrome 51, desktop)
        </p>
      </div>
    </footer>
  </div>